body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;



}

/*----TOP CONTENTS----*/

.topWrapper,
.login-btn,
.register-btn,
.centerWrapper,
.centerContents,
.service-btn,
.bedroom-btn,
.bathroom-btn,
.kitchen-btn,
.bookCleaner-btn {
    display: flex;
    align-items: center;
    justify-content: center;


}

.topWrapper {
    position: relative;
    height: 135px;
    width: 100%;
}

.logoText {
    position: absolute;
    bottom: 3px;
    letter-spacing: -1px;
    font-size: 15px;
    font-weight: 100;

}

.login-btn,
.register-btn {
    position: absolute;
    height: 40px;
    width: 100px;
    font-weight: bolder;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;

}

.login-btn {
    left: 20px;
    top: 20px;
    border: 2px solid #A7DBD8;
    color: #A7DBD8;

}

.register-btn {
    left: 140px;
    border: 2px solid #E08872;
    color: #E08872;
    top: 20px;

}


/*----CENTER CONTENTS----*/

.centerWrapper {
    position: relative;
    height: 345px;
    width: 100%;
    top: 100px;
}

.centerContents {
    position: absolute;
    width: 825px;
    height: 340px;

}

.email {
    position: absolute;
    top: 0;
    height: 20px;
    width: 600px;
    border: none;
    outline: none;
    text-align: center;
    transition: 1s;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
}

.buttonWrap {
    position: absolute;
    height: 55px;
    width: 790px;
    top: 60px;
}

.service-btn,
.bedroom-btn,
.bathroom-btn,
.kitchen-btn {
    position: absolute;
    height: 55px;
    width: 190px;
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transition: 0.3s;

}

.service-text,
.bedroom-text,
.bathroom-text,
.kitchen-text {
    position: absolute;
    font-weight: normal;
    font-size: 20px;
    margin: 0;

}

.service-btn {
    left: 0;

}

.service-text {
    left: 63px;

}

.serviceIcon {
    position: absolute;
    left: 30px;

}

.bedroom-btn {
    left: 200px;


}

.bedroom-text {
    left: 52px;

}

.bedroomIcon {
    position: absolute;
    left: 17px;

}

.bathroom-btn {
    left: 400px;
}

.bathroom-text {
    position: absolute;
    left: 46px;
}

.bathroomIcon {
    position: absolute;
    left: 15px;
}

.kitchen-btn {
    position: absolute;
    right: 0;
}

.kitchenIcon {
    position: absolute;
    left: 28px;
}

.kitchen-text {
    position: absolute;
    left: 64px;
}

.bookCleaner-btn {
    position: absolute;
    height: 45px;
    width: 160px;
    font-weight: bold;
    color: #fff;
    background-color: #A7DBD8;
    border-radius: 5px;

}











/*----HOVERS & SUCH----*/


.login-btn:hover,
.register-btn:hover {
    box-shadow:
        0 0.9px 2.2px rgba(0, 0, 0, 0.07),
        0 2.2px 5.3px rgba(0, 0, 0, 0.05),
        0 4.1px 10px rgba(0, 0, 0, 0.042),
        0 7.4px 17.9px rgba(0, 0, 0, 0.035),
        0 13.8px 33.4px rgba(0, 0, 0, 0.028),
        0 33px 80px rgba(0, 0, 0, 0.02);
}

.login-btn:active,
.register-btn:active,
.service-btn:active,
.bedroom-btn:active,
.bathroom-btn:active,
.kitchen-btn:active {
    box-shadow: none;
}

.email:focus {
    height: 40px;
    border-top: 2px solid #A7DBD8;
    border-bottom: 2px solid #A7DBD8;
    background-color: rgba(167, 219, 216, 0.274);

}

.service-btn:hover,
.bedroom-btn:hover,
.bathroom-btn:hover,
.kitchen-btn:hover {
    background-color: rgba(218, 218, 218, 0.308);
}