@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600&display=swap');

/*-----------Smartphones-----------*/

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {

    body,
    html {
        width: 320px;
        height: 667px;
        overflow: hidden;
        margin: 0;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper-desktop,
    .logo-desktop,
    .sub-title-desktop,
    .logInButton-desktop,
    .emailWrap-desktop,
    .emailWrap-desktop,
    .centerWrapper-desktop,
    .bookCleanerBtn-desktop,
    .bottomWrapper-desktop {
        display: none;
    }

    .topWrapper {
        position: relative;
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo {
        position: absolute;
        height: 40px;
        top: 15px;
    }

    .sub-title {
        position: absolute;
        font-size: 9px;
        bottom: 0;
        margin: 0;
        letter-spacing: -0.3px;
    }

    .centerWrapper {
        position: relative;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: center;
    }

    .center-contents {
        position: relative;
        height: 366px;
        width: 250px;
        display: flex;
        justify-content: center;
    }

    .emailWrap {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email {
        position: absolute;
        height: 45px;
        width: 200px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        transition: 0.3s;
        transition-delay: 0.4s;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    .service-box,
    .bedroom-box,
    .bathroom-box,
    .kitchen-box {
        position: absolute;
        height: 125px;
        width: 105px;
        display: flex;
        justify-content: center;
    }

    .service-box {
        left: 0;
    }

    .bedroom-box {
        right: 0;
    }

    .bathroom-box {
        bottom: 76px;
        left: 0;
    }

    .kitchen-box {
        bottom: 76px;
        right: 0;
    }

    .service-text,
    .bedroom-text,
    .bathroom-text,
    .kitchen-text {
        position: absolute;
        font-size: 18px;
        margin: 0;
    }

    .service-text {
        margin: 0;
        bottom: 5px;
    }

    .bedroom-text {
        bottom: 5px;
    }

    .bathroom-text {
        bottom: 5px;
    }

    .kitchen-text {
        bottom: 5px;
    }

    .service-icon,
    .bedroom-icon,
    .bathroom-icon,
    .kitchen-icon {
        position: absolute;
        top: 20px;
    }

    .bookCleaner-btn {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-color: #A7DBD8;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bottomWrapper {
        position: absolute;
        height: 45px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .bottomContents {
        position: absolute;
        height: 45px;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .serviceInfo-box,
    .bedroomInfo-box,
    .bathroomInfo-box,
    .kitchenInfo-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .serviceInfo-box {
        height: 25px;
        width: 83px;
    }

    .bedroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .bathroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .kitchenInfo-box {
        height: 25px;
        width: 57px;
    }

    .serviceInfo-text {
        position: relative;
        left: 12px;
        font-size: 22px;
        margin: 0;
    }

    .serivceInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bedroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bedroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bathroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bathroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .kitchenInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .kitchenInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    /*------HOVERS & SUCH------*/

    .bookCleaner-btn:active {
        box-shadow: none;
    }

    .email:focus {
        width: 230px;
        height: 55px;
        background-color: rgba(167, 219, 216, 0.5);
        border-top: 2px solid rgb(156, 202, 200);
        border-bottom: 2px solid rgb(156, 202, 200);
        color: #E08872;
        opacity: 1;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    input:focus::placeholder {
        text-indent: 1000px;
    }

    .service-box:active,
    .bedroom-box:active,
    .bathroom-box:active,
    .kitchen-box:active {
        background-color: #e4e4e4;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {

    body,
    html {
        width: 375px;
        height: 667px;
        margin: 0;
        overflow: hidden;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper-desktop,
    .logo-desktop,
    .sub-title-desktop,
    .logInButton-desktop,
    .emailWrap-desktop,
    .emailWrap-desktop,
    .centerWrapper-desktop,
    .buttonWrap-desktop,
    .bookCleanerBtn-desktop,
    .bottomWrapper-desktop {
        display: none;
    }

    .topWrapper {
        position: relative;
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo {
        position: absolute;
        height: 40px;
        top: 15px;
    }

    .sub-title {
        position: absolute;
        font-size: 9px;
        bottom: 0;
        margin: 0;
        letter-spacing: -0.3px;
    }

    .centerWrapper {
        position: relative;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: center;
    }

    .center-contents {
        position: relative;
        height: 366px;
        width: 250px;
        display: flex;
        justify-content: center;
    }

    .emailWrap {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email {
        position: absolute;
        height: 45px;
        width: 200px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        transition: 0.3s;
        transition-delay: 0.3s;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    .service-box,
    .bedroom-box,
    .bathroom-box,
    .kitchen-box {
        position: absolute;
        height: 125px;
        width: 105px;
        display: flex;
        justify-content: center;
    }

    .serviceOptions-mobile,
    .bedroomOptions-mobile,
    .bathroomOptions-mobile,
    .kitchenOptions-mobile {
        position: absolute;
        top: 80px;
        left: 30px;
        list-style: none;
        margin: 0;
        border-radius: 15px;
        padding: 15px 65px 15px 65px;
        text-align: left;
        background-color: #A7DBD8;
        transition: 0.3s;
        z-index: -1;
        opacity: 0;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bedroomOptions-mobile {
        left: -60px;
        padding: 15px 25px 15px 25px;
        display: inline-block;
    }

    .bathroomOptions-mobile {
        top: -100px;
        left: 85px;
        padding: 15px 25px 15px 25px;
    }

    .kitchenOptions-mobile {
        top: -100px;
        left: -60px;
        padding: 15px 25px 15px 25px;
    }

    li {
        margin-bottom: 5px;
        padding: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        transition: 0.1s;
    }

    .service-box {
        left: 0;
    }

    .bedroom-box {
        right: 0;
    }

    .bathroom-box {
        bottom: 76px;
        left: 0;
    }

    .kitchen-box {
        bottom: 76px;
        right: 0;
    }

    .service-text,
    .bedroom-text,
    .bathroom-text,
    .kitchen-text {
        position: absolute;
        font-size: 18px;
        margin: 0;
    }

    .service-text {
        margin: 0;
        bottom: 5px;
    }

    .bedroom-text {
        bottom: 5px;
    }

    .bathroom-text {
        bottom: 5px;
    }

    .kitchen-text {
        bottom: 5px;
    }

    .service-icon,
    .bedroom-icon,
    .bathroom-icon,
    .kitchen-icon {
        position: absolute;
        top: 20px;
    }

    .bookCleaner-btn {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-color: #A7DBD8;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bottomWrapper {
        position: absolute;
        height: 45px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .bottomContents {
        position: absolute;
        height: 45px;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .serviceInfo-box,
    .bedroomInfo-box,
    .bathroomInfo-box,
    .kitchenInfo-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .serviceInfo-box {
        height: 25px;
        width: 83px;
    }

    .bedroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .bathroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .kitchenInfo-box {
        height: 25px;
        width: 57px;
    }

    .serviceInfo-text {
        position: relative;
        left: 12px;
        font-size: 22px;
        margin: 0;
    }

    .serivceInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bedroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bedroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bathroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bathroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .kitchenInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .kitchenInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    /*------HOVERS & SUCH------*/

    .bookCleaner-btn:active {
        box-shadow: none;
    }

    .email:focus {
        width: 230px;
        height: 55px;
        background-color: rgba(167, 219, 216, 0.5);
        border-top: 2px solid rgb(156, 202, 200);
        border-bottom: 2px solid rgb(156, 202, 200);
        color: #E08872;
        opacity: 1;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    input:focus::placeholder {
        text-indent: 1000px;
    }

    .service-box:active,
    .bedroom-box:active,
    .bathroom-box:active,
    .kitchen-box:active {
        background-color: #e4e4e4;
    }

    li:hover {
        background-color: rgb(146, 201, 198);
        cursor: pointer;
    }

    .service-box:hover .serviceOptions-mobile {
        opacity: 1;
        z-index: 1;
    }

    .bedroom-box:hover .bedroomOptions-mobile {
        opacity: 1;
        z-index: 1;
    }

    .bathroom-box:hover .bathroomOptions-mobile {
        opacity: 1;
        z-index: 1;
    }

    .kitchen-box:hover .kitchenOptions-mobile {
        opacity: 1;
        z-index: 1;
    }
}

@media only screen and (min-device-width : 414px) {

    body,
    html {
        width: 411px;
        height: 823px;
        margin: 0;
        overflow: hidden;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper-desktop,
    .logo-desktop,
    .sub-title-desktop,
    .logInButton-desktop,
    .emailWrap-desktop,
    .emailWrap-desktop,
    .centerWrapper-desktop,
    .buttonWrap-desktop,
    .bookCleanerBtn-desktop,
    .bottomWrapper-desktop {
        display: none;
    }

    .topWrapper {
        position: relative;
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo {
        position: absolute;
        height: 40px;
        top: 15px;
    }

    .sub-title {
        position: absolute;
        font-size: 9px;
        bottom: 0;
        margin: 0;
        letter-spacing: -0.3px;
    }

    .centerWrapper {
        position: relative;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: center;
    }

    .center-contents {
        position: relative;
        height: 366px;
        width: 250px;
        display: flex;
        justify-content: center;
    }

    .emailWrap {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email {
        position: absolute;
        height: 45px;
        width: 200px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        transition: 0.3s;
        transition-delay: 0.4s;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    .service-box,
    .bedroom-box,
    .bathroom-box,
    .kitchen-box {
        position: absolute;
        height: 125px;
        width: 105px;
        display: flex;
        justify-content: center;
    }

    .service-box {
        left: 0;
    }

    .bedroom-box {
        right: 0;
    }

    .bathroom-box {
        bottom: 76px;
        left: 0;
    }

    .kitchen-box {
        bottom: 76px;
        right: 0;
    }

    .service-text,
    .bedroom-text,
    .bathroom-text,
    .kitchen-text {
        position: absolute;
        font-size: 18px;
        margin: 0;
    }

    .service-text {
        margin: 0;
        bottom: 5px;
    }

    .bedroom-text {
        bottom: 5px;
    }

    .bathroom-text {
        bottom: 5px;
    }

    .kitchen-text {
        bottom: 5px;
    }

    .service-icon,
    .bedroom-icon,
    .bathroom-icon,
    .kitchen-icon {
        position: absolute;
        top: 20px;
    }

    .bookCleaner-btn {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-color: #A7DBD8;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bottomWrapper {
        position: absolute;
        height: 45px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .bottomContents {
        position: absolute;
        height: 45px;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .serviceInfo-box,
    .bedroomInfo-box,
    .bathroomInfo-box,
    .kitchenInfo-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .serviceInfo-box {
        height: 25px;
        width: 83px;
    }

    .bedroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .bathroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .kitchenInfo-box {
        height: 25px;
        width: 57px;
    }

    .serviceInfo-text {
        position: relative;
        left: 12px;
        font-size: 22px;
        margin: 0;
    }

    .serivceInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bedroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bedroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bathroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bathroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .kitchenInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .kitchenInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    /*------HOVERS & SUCH------*/

    .bookCleaner-btn:active {
        box-shadow: none;
    }

    .email:focus {
        width: 230px;
        height: 55px;
        background-color: rgba(167, 219, 216, 0.5);
        border-top: 2px solid rgb(156, 202, 200);
        border-bottom: 2px solid rgb(156, 202, 200);
        color: #E08872;
        opacity: 1;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    input:focus::placeholder {
        text-indent: 1000px;
    }

    .service-box:active,
    .bedroom-box:active,
    .bathroom-box:active,
    .kitchen-box:active {
        background-color: #e4e4e4;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

    body,
    html {
        width: 414px;
        height: 736px;
        margin: 0;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper {
        position: relative;
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .topWrapper-desktop,
    .logo-desktop,
    .sub-title-desktop,
    .logInButton-desktop,
    .emailWrap-desktop,
    .emailWrap-desktop,
    .centerWrapper-desktop,
    .buttonWrap-desktop,
    .bookCleanerBtn-desktop,
    .bottomWrapper-desktop {
        display: none;
    }

    .logo {
        position: absolute;
        height: 40px;
        top: 15px;
    }

    .sub-title {
        position: absolute;
        font-size: 9px;
        bottom: 0;
        margin: 0;
        letter-spacing: -0.3px;
    }

    .centerWrapper {
        position: relative;
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: center;
    }

    .center-contents {
        position: relative;
        height: 366px;
        width: 250px;
        display: flex;
        justify-content: center;
    }

    .emailWrap {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email {
        position: absolute;
        height: 45px;
        width: 200px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        transition: 0.3s;
        transition-delay: 0.4s;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 13px !important;
    }

    .service-box,
    .bedroom-box,
    .bathroom-box,
    .kitchen-box {
        position: absolute;
        height: 125px;
        width: 105px;
        display: flex;
        justify-content: center;
    }

    .service-box {
        left: 0;
    }

    .bedroom-box {
        right: 0;
    }

    .bathroom-box {
        bottom: 76px;
        left: 0;
    }

    .kitchen-box {
        bottom: 76px;
        right: 0;
    }

    .service-text,
    .bedroom-text,
    .bathroom-text,
    .kitchen-text {
        position: absolute;
        font-size: 18px;
        margin: 0;
    }

    .service-text {
        margin: 0;
        bottom: 5px;
    }

    .bedroom-text {
        bottom: 5px;
    }

    .bathroom-text {
        bottom: 5px;
    }

    .kitchen-text {
        bottom: 5px;
    }

    .service-icon,
    .bedroom-icon,
    .bathroom-icon,
    .kitchen-icon {
        position: absolute;
        top: 20px;
    }

    .bookCleaner-btn {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-color: #A7DBD8;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bottomWrapper {
        position: absolute;
        height: 45px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .bottomContents {
        position: absolute;
        height: 45px;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .serviceInfo-box,
    .bedroomInfo-box,
    .bathroomInfo-box,
    .kitchenInfo-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .serviceInfo-box {
        height: 25px;
        width: 83px;
    }

    .bedroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .bathroomInfo-box {
        height: 25px;
        width: 57px;
    }

    .kitchenInfo-box {
        height: 25px;
        width: 57px;
    }

    .serviceInfo-text {
        position: relative;
        left: 12px;
        font-size: 22px;
        margin: 0;
    }

    .serivceInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bedroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bedroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bathroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bathroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .kitchenInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .kitchenInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    /*------HOVERS & SUCH------*/

    .bookCleaner-btn:active {
        box-shadow: none;
    }

    .email:focus {
        width: 230px;
        height: 55px;
        background-color: rgba(167, 219, 216, 0.5);
        border-top: 2px solid rgb(156, 202, 200);
        border-bottom: 2px solid rgb(156, 202, 200);
        color: #E08872;
        opacity: 1;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    input:focus::placeholder {
        text-indent: 1000px;
    }

    .service-box:active,
    .bedroom-box:active,
    .bathroom-box:active,
    .kitchen-box:active {
        background-color: #e4e4e4;
    }
}

/*-----------iPads-----------*/

@media only screen and (min-device-width : 768px) {

    body,
    html {
        width: 768px;
        height: 1024px;
        margin: 0;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper {
        position: relative;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo {
        position: absolute;
        height: 70px;
        top: 15px;
    }

    .sub-title {
        position: absolute;
        font-size: 15px;
        bottom: 2px;
        margin: 0;
        letter-spacing: -0.3px;
    }

    .emailWrap {
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email {
        position: absolute;
        height: 85px;
        width: 255px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        transition: 0.3s;
        transition-delay: 0.4s;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 18px !important;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 18px !important;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 18px !important;
    }

    .centerWrapper {
        position: relative;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .center-contents {
        position: relative;
        height: 485px;
        width: 350px;
        display: flex;
        justify-content: center;
    }

    .service-box,
    .bedroom-box,
    .bathroom-box,
    .kitchen-box {
        position: absolute;
        height: 190px;
        width: 155px;
        display: flex;
        justify-content: center;
    }

    li {
        margin-bottom: 15px;
        padding: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        transition: 0.1s;
    }

    .serviceOptions-mobile,
    .bedroomOptions-mobile,
    .bathroomOptions-mobile,
    .kitchenOptions-mobile {
        position: absolute;
        list-style: none;
        margin: 0;
        border-radius: 15px;
        background-color: #A7DBD8;
        transition: 0.3s;
        z-index: -1;
        opacity: 0;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .serviceOptions-mobile {
        top: 80px;
        left: 65px;
        padding: 30px 65px 30px 65px;
    }

    .bedroomOptions-mobile {
        left: -60px;
        padding: 15px 25px 15px 25px;
        display: inline-block;
    }

    .bathroomOptions-mobile {
        top: -210px;
        left: 130px;
        padding: 15px 25px 15px 25px;
    }

    .kitchenOptions-mobile {
        top: -185px;
        left: -60px;
        padding: 15px 25px 15px 25px;
    }

    .service-box {
        left: 0;
    }

    .bedroom-box {
        right: 0;
    }

    .bathroom-box {
        bottom: 76px;
        left: 0;
    }

    .kitchen-box {
        bottom: 76px;
        right: 0;
    }

    .service-text,
    .bedroom-text,
    .bathroom-text,
    .kitchen-text {
        position: absolute;
        font-size: 23px;
        margin: 0;
        bottom: 30px;
    }

    .service-text {
        margin: 0;
    }

    .service-icon,
    .bedroom-icon,
    .bathroom-icon,
    .kitchen-icon {
        position: absolute;
        top: 35px;
        height: 70px;
    }

    .bookCleaner-btn {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        background-color: #A7DBD8;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bottomWrapper {
        position: absolute;
        height: 45px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .bottomContents {
        position: absolute;
        height: 65px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .serviceInfo-box,
    .bedroomInfo-box,
    .bathroomInfo-box,
    .kitchenInfo-box {
        position: relative;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 10px;
    }

    .serviceInfo-box {
        width: 83px;
    }

    .bedroomInfo-box {
        width: 57px;
    }

    .bathroomInfo-box {
        width: 57px;
    }

    .kitchenInfo-box {
        width: 57px;
    }

    .serviceInfo-text {
        position: relative;
        left: 12px;
        font-size: 22px;
        margin: 0;
    }

    .serivceInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bedroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bedroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .bathroomInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .bathroomInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    .kitchenInfo-text {
        position: absolute;
        right: 0px;
        font-size: 22px;
        margin: 0;
    }

    .kitchenInfo-icon {
        position: absolute;
        height: 20px;
        left: 0;
    }

    /*------HOVERS & SUCH------*/

    .bookCleaner-btn:active {
        box-shadow: none;
    }

    .email:focus {
        width: 70%;
        height: 70%;
        background-color: rgba(167, 219, 216, 0.5);
        border-top: 2px solid rgb(156, 202, 200);
        border-bottom: 2px solid rgb(156, 202, 200);
        color: #E08872;
        opacity: 1;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    input:focus::placeholder {
        text-indent: 1000px;
    }

    .service-box:active,
    .bedroom-box:active,
    .bathroom-box:active,
    .kitchen-box:active {
        background-color: #e4e4e4;
    }

    li:hover {
        background-color: rgb(146, 201, 198);
        cursor: pointer;
    }

    .service-box:hover .serviceOptions-mobile {
        opacity: 1;
        z-index: 1;
    }

    .bedroom-box:hover .bedroomOptions-mobile {
        opacity: 1;
        z-index: 1;
    }

    .bathroom-box:hover .bathroomOptions-mobile {
        opacity: 1;
        z-index: 1;
    }

    .kitchen-box:hover .kitchenOptions-mobile {
        opacity: 1;
        z-index: 1;
    }
}

@media only screen and (min-device-width : 1024px) {

    body,
    html {
        width: 1024px;
        height: 1368px;
        margin: 0;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper {
        position: relative;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo {
        position: absolute;
        height: 70px;
        top: 15px;
    }

    .sub-title {
        position: absolute;
        font-size: 15px;
        bottom: 2px;
        margin: 0;
        letter-spacing: -0.3px;
    }

    .emailWrap {
        position: relative;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email {
        position: absolute;
        height: 85px;
        width: 500px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        transition: 0.3s;
        transition-delay: 0.4s;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 30px !important;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 30px !important;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 30px !important;
    }

    .centerWrapper {
        position: relative;
        width: 100%;
        height: 690px;
        top: 0;
        display: flex;
        justify-content: center;
    }

    .center-contents {
        position: relative;
        height: 600px;
        width: 510px;
        display: flex;
        justify-content: center;
    }

    .service-box,
    .bedroom-box,
    .bathroom-box,
    .kitchen-box {
        position: absolute;
        height: 280px;
        width: 220px;
        display: flex;
        justify-content: center;
    }

    .service-box {
        left: 0;
    }

    .bedroom-box {
        right: 0;
    }

    .bathroom-box {
        bottom: 0px;
        left: 0;
    }

    .kitchen-box {
        bottom: 0;
        right: 0;
    }

    .service-text,
    .bedroom-text,
    .bathroom-text,
    .kitchen-text {
        position: absolute;
        font-size: 33px;
        margin: 0;
        bottom: 35px;
    }

    .service-text {
        margin: 0;
    }

    .service-icon,
    .bedroom-icon,
    .bathroom-icon,
    .kitchen-icon {
        position: absolute;
        top: 55px;
        height: 100px;
    }

    .bookCleaner-btn {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 22px;
        background-color: #A7DBD8;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    .bottomWrapper {
        position: absolute;
        height: 80px;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    .bottomContents {
        position: absolute;
        height: 80px;
        width: 650px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .serviceInfo-box,
    .bedroomInfo-box,
    .bathroomInfo-box,
    .kitchenInfo-box {
        position: relative;
        height: 45px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 10px;
    }

    .serviceInfo-text,
    .bedroomInfo-text,
    .bathroomInfo-text,
    .kitchenInfo-text {
        font-size: 32px;
    }

    .serviceInfo-text {
        position: relative;
        left: 35px;
        margin: 0;
    }

    .serivceInfo-icon {
        position: absolute;
        height: 35px;
        left: 0;
    }

    .bedroomInfo-text {
        position: absolute;
        left: 53px;
        margin: 0;
    }

    .bedroomInfo-icon {
        position: absolute;
        height: 35px;
        left: 0;
    }

    .bathroomInfo-text {
        position: absolute;
        left: 55px;
        margin: 0;
    }

    .bathroomInfo-icon {
        position: absolute;
        height: 45px;
        left: 0;
    }

    .kitchenInfo-text {
        position: absolute;
        left: 55px;
        margin: 0;
    }

    .kitchenInfo-icon {
        position: absolute;
        height: 35px;
        left: 0;
    }

    /*------HOVERS & SUCH------*/

    .bookCleaner-btn:active {
        box-shadow: none;
    }

    .email:focus {
        width: 80%;
        height: 80%;
        background-color: rgba(167, 219, 216, 0.5);
        border-top: 2px solid rgb(156, 202, 200);
        border-bottom: 2px solid rgb(156, 202, 200);
        color: #E08872;
        opacity: 1;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    input:focus::placeholder {
        text-indent: 1000px;
    }

    .service-box:active,
    .bedroom-box:active,
    .bathroom-box:active,
    .kitchen-box:active {
        background-color: #e4e4e4;
    }
}

/*-----------Desktop-----------*/

@media only screen and (min-device-width : 1224px) {

    body,
    html {
        width: 1920px;
        height: 1080px;
        margin: 0;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .topWrapper,
    .emailWrap,
    .centerWrapper,
    .bottomWrapper {
        display: none;
    }

    .topWrapper-desktop,
    .logInButton-desktop,
    .emailWrap-desktop,
    .centerWrapper-desktop,
    .buttonWrap-desktop,
    .serviceBox-desktop,
    .bedroomBox-desktop,
    .bathroomBox-desktop,
    .kitchenBox-desktop,
    .bookCleanerBtn-desktop,
    .bottomWrapper-desktop,
    .bottomContents-desktop,
    .serviceInfoBox-desktop,
    .bedroomInfoBox-desktop,
    .bathroomInfoBox-desktop,
    .kitchenInfoBox-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topWrapper-desktop {
        position: relative;
        width: 100%;
        height: 150px;
    }

    .logo-desktop {
        position: absolute;
        display: block;
        height: 60px;
        top: 30px;
    }

    .sub-title-desktop {
        position: absolute;
        display: block;
        top: 73px;
        font-size: 11px;
    }

    .buttonWrap {
        position: absolute;
        height: 40px;
        width: 180px;
        left: 30px;
        top: 30px;
    }

    .logInButton-desktop {
        position: absolute;
        height: 30px;
        width: 80px;
        border-radius: 5px;
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
    }

    .logInButton-desktop {
        border: 2px solid #A7DBD8;
        color: #A7DBD8;
    }

    .emailWrap-desktop {
        position: relative;
        height: 100px;
    }

    .email-desktop {
        height: 40px;
        width: 480px;
        top: 30px;
        border: none;
        background-color: transparent;
        outline: none;
        text-align: center;
        font-size: 25px;
        transition: 1s;
        transition-delay: 0.3s;
    }

    ::-webkit-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 25px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    :-ms-input-placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 25px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    ::placeholder {
        color: #000;
        text-align: center;
        transition: 1s;
        font-size: 25px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }



    .centerWrapper-desktop {
        position: relative;
        height: 555px;
        top: 30px;

    }

    .buttonWrap-desktop {
        position: absolute;
        height: 50px;
        width: 950px;
        top: 105px;
        justify-content: space-between;
    }

    .serviceBox-desktop,
    .bedroomBox-desktop,
    .bathroomBox-desktop,
    .kitchenBox-desktop {
        position: relative;
        height: 60px;
        width: 195px;
        border-bottom: 2px solid #A7DBD8;
        border-top: 2px solid #A7DBD8;
        cursor: pointer;
        transition: 0.1s;
    }

    .serviceIcon-dekstop,
    .bedroomIcon-dekstop,
    .bathroomIcon-dekstop,
    .kitchenIcon-dekstop {
        position: absolute;
        left: 15px;
    }

    .serviceText-desktop,
    .bedroomText-desktop,
    .bathroomText-desktop,
    .kitchenText-desktop {
        position: absolute;
        margin: 0;
        font-size: 23px;
    }

    #serviceOptions,
    .bedroomOptions,
    .bathroomOptions,
    .kitchenOptions {
        position: absolute;
        top: 60px;
        list-style: none;
        margin: 0;
        background-color: #A7DBD8;
        border-radius: 15px;
        padding: 15px;
        text-align: left;
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07),
            0 6.7px 5.3px rgba(0, 0, 0, 0.05),
            0 12.5px 10px rgba(0, 0, 0, 0.042),
            0 22.3px 17.9px rgba(0, 0, 0, 0.035),
            0 41.8px 33.4px rgba(0, 0, 0, 0.028),
            0 100px 80px rgba(0, 0, 0, 0.02);
    }

    li {
        margin-bottom: 15px;
        padding: 5px;
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        transition: 0.1s;
    }

    .bedroomText-desktop {
        left: 47px;
    }

    .bathroomIcon-dekstop {
        position: absolute;
    }

    .bathroomText-desktop {
        position: absolute;
        left: 43px;
    }

    .bookCleanerBtn-desktop {
        position: relative;
        height: 50px;
        width: 165px;
        bottom: 35px;
        background-color: rgb(167, 219, 216);
        border: 2px solid #A7DBD8;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        border-radius: 5px;
        transition: 0.1s;
        cursor: pointer;
    }

    .bottomWrapper-desktop {
        position: relative;
        height: 50px;
        width: 100%;
        bottom: 230px;
    }

    .bottomContents-desktop {
        position: absolute;
        width: 600px;
        height: 50px;
        justify-content: space-evenly;
    }

    .serviceInfoBox-desktop,
    .bedroomInfoBox-desktop,
    .bathroomInfoBox-desktop,
    .kitchenInfoBox-desktop {
        position: relative;
        width: 150px;
        height: 50px;
    }

    .serviceInfoIcon-desktop,
    .bedroomInfoIcon-desktop,
    .bathroomInfoIcon-desktop,
    .kitchenInfoIcon-desktop {
        position: absolute;
        left: 15px;
    }

    .ServiceInfotext-desktop,
    .bedroomInfotext-desktop,
    .bathroomInfotext-desktop,
    .kitchenInfotext-desktop {
        font-size: 20px;
        font-weight: 500;
    }

    /*------HOVERS & SUCH------*/

    .logInButton-desktop:hover {
        border: 2px solid #A7DBD8;
        background-color: #A7DBD8;
        color: #fff;
    }


    .email-desktop:focus {
        width: 600px;
        height: 100px;
        background-color: rgba(167, 219, 216, 1);
        border-radius: 5px;
    }

    .serviceBox-desktop:hover,
    .bedroomBox-desktop:hover,
    .bathroomBox-desktop:hover,
    .kitchenBox-desktop:hover {
        background-color: #fff;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07);
    }

    .serviceBox-desktop:active,
    .bedroomBox-desktop:active,
    .bathroomBox-desktop:active,
    .kitchenBox-desktop:active {
        background-color: transparent;
        border-radius: 0;
    }

    .bookCleanerBtn-desktop:hover {
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07);
    }

    .bookCleanerBtn-desktop:active {
        box-shadow: none;
    }

    li:hover {
        background-color: rgb(146, 201, 198);
        cursor: pointer;
    }

    li:active {
        background-color: #A7DBD8;
        cursor: pointer;
    }

    .serviceBox-desktop:hover #serviceOptions {
        opacity: 1;
        z-index: 1;
    }

    .bedroomBox-desktop:hover .bedroomOptions {
        opacity: 1;
        z-index: 1;
    }

    .bathroomBox-desktop:hover .bathroomOptions {
        opacity: 1;
        z-index: 1;
    }

    .kitchenBox-desktop:hover .kitchenOptions {
        opacity: 1;
        z-index: 1;
    }



}